/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
    
}
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
    margin-top:90px;
    margin-bottom:90px;
}
/* top banner -containerstyles-start */
.top-banner-container{

    background-color: darkseagreen;
    display:flex;
    flex-wrap: wrap;
   
}
.banner-left{
    width:50%;
    margin-bottom: 70px;
 
}
.banner-title{
    margin-top: 207px;
    margin-left: 156px;
}
.banner-title{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.banner-button{
    width: 168px;
    height: 44px;
    margin-left: 156px;
    background-color:#E02C6D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    transition: transform 0.6s ease-in 0.1s;
} 
a{
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.banner-right{
    width:50%;
    margin-top:153px;
    margin-bottom: 70px;
}

.top-banner-container:hover > .banner-left .banner-button{
    transform: translate(900px, -470px);
}
.banner-right img{
    
    width:75%;
}
/* top banner -container styles-end*/
/* players styles start */
.players{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
   
}
.player{
    background-color: #ffffff;
    color:black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 610px; 
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15); 
    border-radius: 5px;    


}
.photo-detail {
    width: 300px;
    height: 290px;
    margin-bottom:30px;
   
    
}

.photo img{
    width: 300px;
    height: 256px;
    margin:15px ;
    padding:0px;
    border-radius: 5px;
}
.photo-detail h1{
    
    text-align: justify;
    font-weight: 900;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.photo-detail p{
    color: #6C6C6C;
    font-size: 16px;
}

/* players styles end */
/* footer start */
.footer-container{
    
    width:35%;
    margin: auto;
    overflow: hidden;
    margin-top:120px;
    margin-bottom:90px;
    display: grid;
    grid-template-columns: repeat(1,1fr);

    
    
}.footer-container .footer-img{
    width:100%;
}

.footer-copyright p{
    color: #585656;
 
    font-size: 18px;
    line-height: 24px;

margin-top: 40px;

text-align:center;
}
.fab{
    color:#948c8c;
    padding:10px;
    border-radius: 15px;
    font-size: 20px;
    margin-right:20px;
    
    background-color:rgb(218, 211, 211)
}
.footer-icon{
    
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    margin-top:35px;
    margin-left:110px;
  
    width: 300px;
    height: 32px;
}
/* footer  end */



